@model Nhom15_WebVanPhongPham.Models.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DanhMuc.TenDM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhMuc.TenDM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhoiLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhoiLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SLcon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLcon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThuongHieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThuongHieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SLDat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLDat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaSp }) |
    @Html.ActionLink("Back to List", "Index")
</p>
