@model IEnumerable<Nhom15_WebVanPhongPham.Models.SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DanhMuc.TenDM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhoiLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SLcon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThuongHieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SLDat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DanhMuc.TenDM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhoiLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SLcon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThuongHieu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Anh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SLDat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaSp }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaSp }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaSp })
        </td>
    </tr>
}

</table>
