@model IEnumerable<Nhom15_WebVanPhongPham.Models.DanhMuc>
<link href="~/wwwroot/css/index.css" rel="stylesheet" />
<div class="header">
    <div class="top">
        <div class="header_right">
            <div id="menu_login">
                <ul>
                    <li>
                        <a href="#">Đăng nhập <i class="fas fa-angle-down"></i></a>
                        <ul class="sub-menu">
                            @if (Session["HoTen"] != null)
                            {
                                <li><a class="fade_open" href="@Url.Action("UserTT","Home",new { id = Session["idUser"] })"><strong>@Session["HoTen"]</strong></a></li>
                                <li><a href="@Url.Action("Logout","Home")">Đăng xuất</a></li>
                            }
                            else
                            {
                                <li><a href="@Url.Action("Login","Home")" class="fade_open">Đăng nhập</a></li>
                                <li><a href="@Url.Action("Register","Home")">Đăng kí</a></li>
                            }
                            @*<li><a href=@Url.Action("Account","Home")>Tài Khoản</a></li>
                            <li><a href=@Url.Action("Index","Home")>Thoát <i class="fas fa-sign-out-alt"></i></a></li>*@
                        </ul>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div class="header_midle">
            <div class="header_brand-logo">
                <img src="~/wwwroot/Anh_Icon/logo.png" class="logo_img" />
            </div>
            <div class="header_navbar-search">

                <div class="box_search">
                    @*<input placeholder="Tìm kiếm nước hoa hoặc nhãn hiệu" name="keyword" />*@
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "input", @placeholder = "Tìm kiếm..." })

                </div>
                <button class="icon_search" type="submit"><i class="fas fa-search "></i></button>


                @*@{
                        Html.RenderAction("_Searchbar", "Home");
                    }*@
            </div>


            <div class="cart">
                <div class="cart_child">
                    <a href=@Url.Action("Giohn","GioHang") class="header_right-nav--link">Giỏ hàng</a>
                    <i class="fas fa-cart-plus"></i>
                </div>
            </div>
        </div>
    }


    <div class="header_menu">
        <ul class="header_navbar">
            <li class="header_navbar-item">
                <i class="fas fa-home"></i>
                <a href="@Url.Action("Index","Home")" class="header_navbar-item--link ">Trang chủ</a>
            </li>
            @foreach (var item in Model)
            {
                <li class="header_navbar-item">
                    <a href="@Url.Action("ProductList","Home",new { id = item.MaDM})" class="header_navbar-item--link">@Html.DisplayFor(modelItem => item.TenDM)</a>
                </li>
            }
        </ul>
    </div>
</div>
